@page "/workers"
@layout MainLayout

@using Application.DTOs
@using Application.Interfaces.Pagination
@using WebUI.Pages.Administration.Workers.Components
@using WebUI.Services.WorkerServices

@inject IWorkerService workerService
@inject IDialogService dialogsService
@inject NavigationManager navigationManager

<AuthorizeView Context="view">

    @if (isLoadingType)
    {
        <MudProgressCircular Color="Color.Primary" Style="height:100px; width:100px; position:fixed; top:40%; left:50%;" Indeterminate="true" />
    }
    else
    {
        <AuthorizeView>
            <div class="d-flex justify-end flex-grow-1 gap-4 mb-2 mt-4">
                <MudButton StartIcon="@Icons.Material.Filled.PieChart" Href="/workers-diagram" Variant="Variant.Outlined" Color="Color.Primary">Vezi în Diagrama circulară</MudButton>
                <MudButton StartIcon="@Icons.Material.Filled.AccessAlarm" Href="/workers-hours" Variant="Variant.Outlined" Color="Color.Primary">Vezi orele lucrătorilor</MudButton>
                <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="()=>OpenDialog()" Variant="Variant.Outlined" Color="Color.Primary" Class="ml-auto">Adaugă lucrător</MudButton>
            </div>
        </AuthorizeView>

        <MudTable Items="workers" T="WorkerDto">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Lista lucrători</MudText>
                <MudSpacer />
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Nume
                    <MudButton OnClick="@(() => SortColumn(nameof(WorkerDto.Name)))">
                        <MudIcon Icon="@(GetSortIcon(nameof(WorkerDto.Name)))" Size="@Size.Small" />
                    </MudButton>
                </MudTh>
                <MudTh>Concedii</MudTh>
                <MudTh>Zile de concediu rămase
                    <MudButton OnClick="@(() => SortColumn(nameof(WorkerDto.NoDaysVacation)))">
                        <MudIcon Icon="@(GetSortIcon(nameof(WorkerDto.NoDaysVacation)))" Size="@Size.Small" />
                    </MudButton>
                </MudTh>
                <MudTh>Procent gardă
                    <MudButton OnClick="@(() => SortColumn(nameof(WorkerDto.Percent)))">
                        <MudIcon Icon="@(GetSortIcon(nameof(WorkerDto.Percent)))" Size="@Size.Small" />
                    </MudButton>
                </MudTh>
                <MudTh>Gărzi</MudTh>
                <MudTh>Acțiuni</MudTh>
            </HeaderContent>
            <RowTemplate Context="context">
                <MudTd>@context.Name</MudTd>
                <MudTd>
                    <MudLink OnClick="@(async () => await NavigateToVacations(context.Id))">
                        Concedii
                    </MudLink>
                </MudTd>
                <MudTd>@context.NoDaysVacation</MudTd>
                <MudTd>@context.Percent</MudTd>
                <MudTd>
                    <MudLink OnClick="@(async () => await NavigateToGuards(context.Id))">
                        Gărzi
                    </MudLink>
                </MudTd>
                <MudTd>
                    <AuthorizeView Context="edit">
                        <MudButton Variant="Variant.Outlined" OnClick="()=>OpenDialog(context.Id)" Color="Color.Success"><MudIcon Icon="@Icons.Material.Filled.Edit" Size="@Size.Small" /></MudButton>
                    </AuthorizeView>
                    <AuthorizeView Context="delete">
                        <MudButton Variant="Variant.Outlined" OnClick="()=>OpenDialog(context.Id, true)" Color="Color.Error"><MudIcon Icon="@Icons.Material.Filled.Delete" Size="@Size.Small" /></MudButton>
                    </AuthorizeView>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudPagination SelectedChanged="SelectPage" Count="@TotalPages" Selected="@CurrentPage" Class="pa-4" />
            </PagerContent>
        </MudTable>
    }
</AuthorizeView>

@code {
    public bool isLoadingType = true;
    private string sortColumn;
    private bool? sortDirection = null;

    private List<WorkerDto> workers = new List<WorkerDto>();

    private const int PageSize = 10;
    public int TotalPages { get; set; }
    public int CurrentPage { get; set; } = 1;
    public EventCallback<int> PageChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        isLoadingType = false;
        StateHasChanged();
    }

    private async Task SelectPage(int page)
    {
        if (page != CurrentPage && page > 0 && page <= TotalPages)
        {
            CurrentPage = page;
            await PageChanged.InvokeAsync(page);
            await LoadData();
        }
    }

    private async Task LoadData()
    {
        var parameters = new PaginationParameter
            {
                PageNumber = CurrentPage,
                PageSize = PageSize,
                SortBy = sortColumn,
                SortDescending = sortDirection
            };

        var result = await workerService.GetWorkers(parameters);

        if (result == null)
        {
            workers = new List<WorkerDto>();
        }
        else
        {
            var newList = result.Items.ToList();
            TotalPages = (int)Math.Ceiling((double)result.TotalItems / PageSize);
            workers = newList;
            StateHasChanged();
        }
    }

    private void SortColumn(string columnName)
    {
        if (sortColumn == columnName)
        {
            sortDirection = sortDirection == true ? false : true;
        }
        else
        {
            sortColumn = columnName;
            sortDirection = true;
        }

        LoadData();
    }

    private string GetSortIcon(string columnName)
    {
        if (columnName == sortColumn && sortDirection != null)
            return sortDirection == true ? Icons.Material.Filled.ArrowUpward : Icons.Material.Filled.ArrowDownward;

        return Icons.Material.Filled.ArrowDownward;
    }

    private void OpenDialog(Guid? content = null, bool delete = false)
    {
        var dialog = default(IDialogReference);
        var parameters = new DialogParameters();
        var callback = async () => { await OnInitializedAsync(); };

        var options = new DialogOptions
            {
                CloseOnEscapeKey = true,
                MaxWidth = MudBlazor.MaxWidth.Large
            };

        parameters.Add("WorkerId", content);
        parameters.Add("callback", callback);

        if (delete) dialog = dialogsService.Show<DeleteComponent>("Sunteți sigur că doriți să ștergeți acest lucrător ?", parameters, options);
        else dialog = dialogsService.Show<AddEditWorkerComponent>("Detalii lucrător", parameters, options);
    }

    private async Task NavigateToGuards(Guid? workerId)
    {
        if (workerId != null)
        {
            navigationManager.NavigateTo($"/guards/{workerId}");
        }
    }

    private async Task NavigateToVacations(Guid? workerId)
    {
        if (workerId != null)
        {
            navigationManager.NavigateTo($"/vacations/{workerId}");
        }
    }
}
